pip install torch==2.6.0 torchvision==0.21.0 torchaudio==2.6.0 --index-url https://download.pytorch.org/whl/cu124
pip install wheel
pip install flash-attn --no-build-isolation
pip install "huggingface_hub[cli]"
cd /home/ubuntu/github/UniAnimate-DiT && ln -s /home/ubuntu/karthik-ragunath-ananda-kumar-utah/unianimate-dit/checkpoints checkpoints
cd /home/ubuntu/github/UniAnimate-DiT && ln -s /home/ubuntu/karthik-ragunath-ananda-kumar-utah/unianimate-dit/Wan2.1-I2V-14B-720P Wan2.1-I2V-14B-720P
chmod +x /home/ubuntu/github/UniAnimate-DiT/run_all_pose_alignments.sh
./run_all_pose_alignments.sh
